/* Reset CSS (Best Practice) */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
background-color: #16120f; /* Warna background Kuning*/
color: #f8fafc; /* Warna teks terang */
}
/* --- Styling Navigasi --- */
header {
background-color: #133458;
padding: 20px 8%;
position: sticky;
top: 0;
backdrop-filter: blur(10px);
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
}
.logo { font-size: 24px; font-weight: bold; }
.logo span { color: #38bdf8; /* Warna biru aksen */ }
.nav-links { list-style: none; display: flex; gap: 30px; }
.nav-links a { color: #f8fafc; text-decoration: none; font-weight: 500; transition: 0.3s;
}
.nav-links a:hover { color: #38bdf8; }
/* --- Styling Hero Section --- */
.hero {
display: flex; align-items: center; justify-content: space-between;
padding: 80px 8%; min-height: 80vh;
}
.hero-text { flex: 1; }
.greeting { color: #38bdf8; font-size: 1.2rem; font-weight: 600; margin-bottom: 10px; }
.hero-text h1 { font-size: 3.5rem; line-height: 1.2; margin-bottom: 10px; }
.highlight { color: #38bdf8; }
.hero-text h2 { font-size: 1.8rem; color: #94a3b8; margin-bottom: 20px; }
.description { color: #cbd5e1; font-size: 1.1rem; line-height: 1.6; margin-bottom: 30px;
max-width: 500px; }
.btn {
display: inline-block; padding: 12px 30px; background-color: #38bdf8;
color: #0f172a; text-decoration: none; font-weight: bold; border-radius: 8px; transition: 0.3s;
}
.btn:hover { background-color: #0284c7; color: white; transform: translateY(-3px); }
.hero-image { flex: 1; display: flex; justify-content: flex-end; }
.hero-image img {
width: 350px; height: 350px; border-radius: 50%; object-fit: cover;
border: 5px solid #1e293b; box-shadow: 0 0 20px rgba(56, 189, 248, 0.3);
}
